@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    background-color: #F0F0F0;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    z-index: 1000;
    height: 90px;
    width: 100%;
    background: linear-gradient(149deg, #DA22FF, #56B4D3, #9733EE);
    animation: gradient 8s infinite linear;
    background-size: 200%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }

    50% {
        background-position: 20% 100%;
    }

    100% {
        background-position: 80% 0%;
    }
}


/* .projectName{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #72D933;
    font-size: 18px;
    padding: 35px 200px;
} */

.project-name {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #72D933;
    font-size: 18px;
    /* padding: 35px 200px; */
    mix-blend-mode: color-dodge;
}

.language{
    cursor: pointer;

}

.language-wrapper {
    user-select: none;
    margin-top: 5px;
    display: flex;   
    align-items: center; 
    gap: 5px;
}

.language-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #72D933;
    font-size: 12px;
    /* padding: 35px 200px; */
    mix-blend-mode: color-dodge;

}

#main {
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    /* padding-top: 50px; */
    padding: 130px 200px;
}

#slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    /* padding-bottom: 70px; */
    text-align: center;
}

.container {
    position: relative;
    /* width: 540px !important; */
    /* background-color: #56B4D3; */

}

.content {
    /* padding: 30px 30px 30px 60px; */
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

.card {
    background-color: white;
    height: 350px;
    max-width: 525px !important;
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgb(227, 227, 227);
    /* box-shadow: 0px 0px 30px rgb(240, 2, 2); */
}

.card-image {
    width: 200px;
    height: 100%;
    border-radius: 25px;
    /* background-color: #56B4D3; */
    background-size: cover;
}

/* .wifi {
    background-image: url('wifi.png');
    max-width: 100%;
    height: auto;
} */

.swiper-section{
    position: relative;
    padding: 0px 50px;
}

.container-test {
    margin-top: 100px;
}

.text-test {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.pass {
    display: flex;
    justify-content: center;
}

#password {
    margin-top: 25px;
    border: none;
    height: 60px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(255, 250, 223);
}

input:focus {
    outline: none;
}

.indicators {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    padding-top: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#check0,
#check1,
#check2,
#check3,
#check4 {
    display: inline-block;
    margin-right: 20px;
    color: rgb(72, 72, 72)
}

.secure {
    margin-top: 100px;
}

.text-secure {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}

.level-secure {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.block {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: #ffffff;
    height: 250px;
    max-width: 250px;
    border-radius: 25px;
    float: left;
    transition: 0.1s ease;
}

.block:hover {
    box-shadow: 0px 0px 20px rgb(255, 250, 223);
}

.additional {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.link-wrapper{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.download {
    /* margin-top: 10px; */
    font-family: 'Roboto Mono';
    max-width: 100px;
    max-height: 30px;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: -4px 4px;
}

#footer {
    /* background-color: black; */
    border-top: 1px solid black;
    font-size: 18px;
    z-index: 1000;
    height: 65px;
    width: 100%;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}